/*
html {
  background-color: #e3f7ff;
  border: 5px double #c7e4f3;
}
#board {
  background-color: #c7e4f3;
  margin-left: 9px;
  margin-bottom: 15px;
  height: 300px;
  width: 500px;
  border-radius: 5px;
}
.boxes {
  height: 48px;
  width: 48px;
  float: left;
  border: .01px solid rgba(169, 200, 217, 0.25);
}
*/